*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:lightyellow;
}
.head1{
    padding-left: 250px;
    padding-right:300px;
    color: white;
    background-color: brown;
    position: fixed;
}
body input{
    padding-left: .5rem;
}
table{
    border: 2px solid black;
    width:100%;
    height: 100vh;
    border-collapse: collapse;
    }

table td{
    border: 1px solid black;
}
.class{
    height: 30px;
}

.class1 label{
    margin-left:100px;
}
.class01{
    width: 50%;
}
td label b{
    color: red;
}
td i{
    color: green;
}
.class02{
    color: blue;
}
.class03{
    margin-left: 20px;
}
.class04{
    margin-left:40px;
}
#id{
    margin-left: 70px;
}
table td label{
    font-weight: bold;
}
.class05{
    font-weight: 100;
}
.class06{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.class07{
    margin-bottom: 3px;
}
#id01{
    text-decoration: underline;
    font-weight: 100;
    color: red;
}
.class08{
    cursor: pointer;
}
.class08:hover{
    background-color: green;
    color: white;
}
.class09{
    cursor: pointer;
}

.class09:hover{
    background-color: red;
    color: white;
}
.class10{
    padding-left: 10px;
}


